In [1]:
import numpy as np
import pandas as pd

In [2]:
array=np.array([1,2,3,4,5])

In [3]:
array

array([1, 2, 3, 4, 5])

In [4]:
array[:2]

array([1, 2])

In [5]:
array[1]+array[2]

np.int64(5)

In [6]:
df=pd.read_csv("machine-readable-business-employment-data-sep-2025-quarter.csv")

In [7]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [8]:
df.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
25280,BDCQ.SEE3999A,2017.06,NaN,Y,F,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
25281,BDCQ.SEE3999A,2017.09,NaN,Y,F,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
25282,BDCQ.SEE3999A,2017.12,NaN,Y,F,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
25283,BDCQ.SEE3999A,2018.03,NaN,Y,F,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
25284,BDCQ.SEE3999A,2018.06,NaN,Y,F,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN

In [9]:
df.count()

Series_reference    25285
Period              25285
Data_value          22446
Suppressed           2839
STATUS              25285
UNITS               25285
Magnitude           25285
Subject             25285
Group               25285
Series_title_1      25285
Series_title_2      25285
Series_title_3      25285
Series_title_4          0
Series_title_5          0
dtype: int64

In [10]:
row=df.get("Subject")

In [11]:
row.unique()

array(['Business Data Collection - BDC'], dtype=object)